* {
  overflow-x: hidden;
}

#main-section h1 {
  text-align: center;
  margin-top: 120px;
  font-size: 80px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 500;
  color: antiquewhite;
}

#main-section p {
  text-align: center;
  font-size: 45px;
  color: antiquewhite;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* margin-top: 60px; */
}


/* #box { */
/*  */
/* width: 200px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  margin-right: 45%; */

/* } */
#box {
  display: flex;
  gap: 5px;
  text-align: center;
}

#box img {
  width: 70%;
  border-radius: 10px;
  border: 1px solid black;
  transition: 0.7s ease-in-out;
}
#box img:hover {
  transform: scale(1.1);
}

.hero {
  background-image: url("images/children.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  width: 100%;
}

#box p {
  color: rgb(137, 72, 94);
  font-size: medium;
  margin: 2px;
  font-family: Arial, sans-serif;
}
#box button {
  border-radius: 8px;
  margin-top: 10%;
  padding: 20px;
  width: 100%;
  border: 1px solid black;
  color: rgb(119, 74, 74);
  cursor: pointer;
}
header {
  background-color: rgb(229, 214, 214);
  width: 100%;
}

header li{
  float:left;
  margin: 10px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#icon{
  float: right;
  margin-right: 15px;

}
#header-section button{
  background-color:rosybrown;
  border-radius: 5px;
  border:none;
  padding: 10px;
  cursor: pointer;
}

nav :hover {
  color: rgb(137, 72, 94);
}
#courses-section h1 {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  font-size: 25px;
  margin-top: 5%;
}

li a {
  color: white;
}
li a:hover {
  color: rgb(137, 72, 94);
}

#main-section button{ 
  margin-bottom: 30px;
  border-radius:20px;
  padding: 5px;
  width:70px;
  border: 2px solid black;
  background: none;
  cursor: pointer;
}

.hero i{
  size: 20px;

}

#search-bar {
  position: absolute; /* Position relative to the body or parent container */
  top: 60%;
  left: 50%;
  transform: translate(-50%); /* Move back 50% of its own size to center */
  width: 30%; /* Adjust as needed for the width of the search bar */
  display: flex; /* Align icon and input field together */
  align-items: center;
  
}

#search-bar i{
  position: absolute;
  top: 55%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px; 
}

#search-bar input {
  width: 100%;  
  padding:10px 30px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}