* {
  overflow-x: hidden;
}

.hero h1 {
  text-align: center;
  margin-top: 200px;
  font-size: 80px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  color: antiquewhite;
}

.hero p {
  text-align: center;
  /* margin-top:50px; */
  font-size: 45px;
  color: antiquewhite;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* margin-top: 60px; */
}

#btn {
  border-radius: 5px;
  background-color: rgb(137, 72, 94);
  padding: 15px;
  color: antiquewhite;
  position: relative;
  left: 45%;
  margin-bottom: 55px;
}

/* #box { */
/*  */
/* width: 200px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  margin-right: 45%; */

/* } */
#box {
  display: flex;
  gap: 5px;
  text-align: center;
}

#box img {
  width: 70%;
  border-radius: 10px;
  border: 1px solid black;
  transition: 0.7s ease-in-out;
}
#box img:hover {
  transform: scale(1.1);
}

.hero {
  background-image: url("images/children.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  width: 100%;
}

#box p {
  color: rgb(137, 72, 94);
  font-size: medium;
  margin: 2px;
  font-family: Arial, sans-serif;
}
#box button {
  border-radius: 8px;
  margin-top: 10%;
  padding: 10px;
  width: 100%;
  border: 1px solid black;
  color: rgb(119, 74, 74);
}

header {
  background-color: rgb(229, 214, 214);
  width: 100%;
}

header li {
  float: left;
  margin: 10px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#icon{
  float: right;
  margin-right: 20px;

}
#icon button{
  background-color:rosybrown;
  border-radius: 5px;
  border:none;

}
/* #icon li {
  float: right;
  margin-right: 30px;
} */

ul li :hover {
  color: rgb(137, 72, 94);
}
#container h1 {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 5%;
}

.nav_items li a {
  color: white;
}
.nav_items li a:hover {
  color: rgb(137, 72, 94);
}

#sorting button{ 
  margin-bottom: 30px;
  border-radius:20px;
  padding: 3px;
  width:70px;
  border: 2px solid black;
  background: none;



}